@import "../../base/reset";
@import "../../base/common";
.fl{
  float: left;
}
.fr{
  float: right;
}
$conW: $width+$m14;
@mixin ml14 {
  margin-left: 14px;
}

@mixin mb14 {
  margin-bottom: 14px;
}

@mixin span4{
  width: $conW/20*4-$m14;
}

@mixin span5{
  width: $conW/20*5-$m14;
}

@mixin span16{
  width: $conW/20*16-$m14;
}

h2, .h2 {
  font-size: 22px;
  height: 100%;
}
h3, .h3 {
  font-size: 14px;
}

.box {
  margin-bottom: 22px;
}
.box-hd {
  height: 58px;
  line-height: 58px;
}
/*-----------video----------*/