@import "../../base/reset";
@import "../../base/common";

h2, .h2 {
  font-size: 22px;
  height: 100%;
}

.box {
  margin-bottom: 22px;
}
.box-hd {
  height: 58px;
  line-height: 58px;
}
.box-bd {
  width: 1255px;
}

.col{
  transition:all 0.2s linear;
  margin-bottom: 14px;
  margin-right: 14px;
  text-align: center;
  float: left;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.col:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transform:translate(-2px,-2px);
}
.col-4 {
  width: 299.5px;
}
.col-5 {
  width: 236.8px;
}

/*-----------video----------*/
.video{
  margin-bottom: 60px;
  a:hover{
    color: $color-orange;
  }
  .col{
    background-color: #ffffff;
    width: 296px;
    height: 285px;
  }
  .fig-img{
    display: block;
    margin-bottom: 24px;
    position: relative;
    .play{
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 40px;
    }
  }
  .tit{
    margin-bottom: 10px;
  }
  .desc{
    color: $color-gray1;
    font-size: 12px;
  }
}